.layout__shared-board {
  border: 4px solid black;
  margin: 4px;
}

.grid__row {
  display: flex;
}

.grid__cell {
  border: 1px solid black;
  height: 50px;
  margin: 1px;
  padding: 1px;
  width: 50px;
}

.piece--blah {
  box-sizing: border-box;
  font-size: .6em;
  width: 100%;
  height: 100%;
}

.piece--blah--selected, .piece--blah--selected:focus {
  border: 2px solid red;
  outline: none;
}
